@model WebAppMVC.Models.Pesan

@{
    ViewData["Title"] = "Index";
}

<h2>Pesan</h2>

<div>
    @using (Html.BeginForm())
    {
        <p>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
        </p>
        <p>
            @Html.LabelFor(m => m.Message)
            @Html.TextBoxFor(m => m.Message)
        </p>
        <p>
            @ViewBag.Pesan
        </p>
        <p>
            <input type="submit" value="Send" />
        </p>
    }
</div>
